<!doctype html>
<html lang="en">

<head>
    <title>Account | FileBox</title>
    <meta charset="utf-8">
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar-default navbar-fixed-top">
            <div class="brand" style="float: left">
                <a href="/dashboard"><img src="IMAGES/logo.png"" alt=" FileBox Logo" class="img-responsive logo"
                        style="max-height:50px"></a>
            </div>
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                    <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                </div>
            </form>
            <div class=" nav navbar-right">
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <i class="lnr lnr-alarm"></i>
                        {{#if notifications}}
                        <span class="badge bg-danger">{{notifications.length}}</span>
                        {{else}}

                        {{/if}}
                    </a>
                    <ul class="dropdown-menu notifications">
                        {{#if notifications}}
                        {{#each notifications}}

                        <li><a href="/friends" class="notification-item"><span
                                    class="dot bg-success"></span>{{notification}}</a>
                        </li>
                        {{/each}}
                        {{else}}
                        <li><a href="#" class="notification-item"><span class=""></span>No New Notifications</a>
                        </li>
                        {{/if}}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{user.image_name}}"
                            class="img-circle" alt="Avatar" height="25"> <span>{{user.username}}</span> <i
                            class="icon-submenu lnr lnr-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account"><i class="lnr lnr-user"></i> <span>My Account</span></a></li>
                        <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                    </ul>
                </li>
            </div>

        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/dashboard" class=""><i class="lnr lnr-inbox"></i> <span>My Files</span></a>
                        </li>
                        <li><a href="/groups" class=""><i class="lnr lnr-user"></i> <span>Groups</span></a></li>
                        <li><a href="/dashboard" class=""><i class="lnr lnr-user"></i> <span>Friends</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i
                                    class="lnr lnr-file-empty"></i> <span>Pages</span> <i
                                    class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="/dashboard" class="">Dashboard</a></li>
                                    <li><a href="/groups" class="">Groups</a></li>
                                    <li><a href="/friends" class="">Friends</a></li>
                                    <li><a href="/account" class="">Account</a></li>
                                    <li><a href="/login" class="">Login</a></li>
                                    <li><a href="/register" class="">Register</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/logout" class=""><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">

                <!-- FILES -->
                <div id="FilesDiv" class="container-fluid">
                    <!-- OVERVIEW -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Account</h3>
                            <p class="panel-subtitle">View and Manage Your Account Data</p>
                        </div>
                        <div class="panel-body">
                            <div class="container bootstrap snippet">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h1>{{user.username}}</h1>
                                    </div>
                                </div>



                                <div class="row">

                                    <div class="col-sm-3">

                                        <!--left col-->
                                        <div class="text-center">
                                            <img src="{{user.image_name}}"
                                                class="avatar img-circle img-thumbnail" alt="avatar">
                                            <h6>Upload a different photo...</h6>

                                            <div class="upload-btn-wrapper">
                                                <button class="btn-upload">Upload Image</button>
                                                <input type="file" name="file-input" id="file-input" />
                                            </div>

                                            <!-- XHR Request For Uploading Files to Amazon S3 Buckets, Via Button and File Input Above ^^^ -->
                                            <script>
                                                (() => {
                                                    document.getElementById("file-input").onchange = () => {
                                                        const files = document.getElementById('file-input').files;
                                                        const file = files[0];
                                                        if (file == null) {
                                                            return alert('No file selected.');
                                                        }
                                                        getSignedRequest(file);
                                                    };
                                                })();

                                                function getSignedRequest(file) {
                                                    const xhr = new XMLHttpRequest();
                                                    xhr.open('GET', `account/uploadImage?file-name=${file.name}&file-type=${file.type}`);
                                                    xhr.setRequestHeader("Access-Control-Allow-Origin", '*');
                                                    xhr.onreadystatechange = () => {

                                                        if (xhr.readyState === 4) {
                                                
                                                            if (xhr.status === 200) {
                                                                const response = JSON.parse(xhr.responseText);
                                                                uploadFile(file, response.signedRequest, response.url);
                                                            }
                                                            else {
                                                                alert('Could not get a signed URL, perhaps you are signed out?');
                                                            }
                                                        }
                                                    };
                                                    xhr.send();
                                                }

                                                function uploadFile(file, signedRequest, url) {
                                                    const xhr = new XMLHttpRequest();
                                                    console.log(signedRequest)
                                                    xhr.open('PUT', signedRequest);
                                                    xhr.onreadystatechange = () => {


                                                        if (xhr.readyState === 4) {
                                                            if (xhr.status === 200) {
                                                                alert('Success: Account Image Updated, Please Re-Login to Reflect any Changes!');
                                                                location.href="/logout"
                                                            }
                                                            else {
                                                                alert('Could not upload file.');
                                                            }
                                                        }
                                                    };
                                                    xhr.send(file);
                                                }
                                            </script>
                                        </div>
                                        <form method="POST" action="account/updateAccount">
                                            <br>

                                            
                                    </div>
                                    <!--/col-3-->
                                    <div class="col-sm-9">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="home">
                                                {{#if successmsg}}<h4 style="color:green;font-weight: bold;">
                                                    {{successmsg}}</h4>{{/if}}
                                                {{#if errmsg}}<h4 style="color:red;font-weight: bold;">{{errmsg}}
                                                </h4>{{/if}}


                                                <hr>
                                                <!-- UPDATE ACCOUNT DATA FORM -->
                                                <form class="form" action="#" method="post" id="UpdateAccountForm">

                                                    <div class="form-group">
                                                        <div class="col-xs-6">
                                                            <label for="first_name">
                                                                <h4>First name</h4>
                                                            </label>
                                                            <input type="text" class="form-control" name="first_name"
                                                                id="first_name" placeholder="first name"
                                                                title="enter your first name if any."
                                                            value="{{user.first_name}} ">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">

                                                        <div class="col-xs-6">
                                                            <label for="last_name">
                                                                <h4>Last name</h4>
                                                            </label>
                                                            <input type="text" class="form-control" name="last_name"
                                                                id="last_name" placeholder="last name"
                                                                title="enter your last name if any."
                                                                value="{{user.last_name}}">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">

                                                        <div class="col-xs-6">
                                                            <label for="phone">
                                                                <h4>Phone</h4>
                                                            </label>
                                                            <input type="text" class="form-control" name="phone"
                                                                id="phone" placeholder="enter phone"
                                                                title="enter your phone number if any."
                                                                value="{{user.phone_number}}">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">

                                                        <div class="col-xs-6">
                                                            <label for="email">
                                                                <h4>Email</h4>
                                                            </label>
                                                            <input type="email" class="form-control" name="email"
                                                                id="email" placeholder="you@email.com"
                                                                title="enter your email." value="{{user.email}}">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">

                                                        <div class="col-xs-6">
                                                            <label for="password">
                                                                <h4>Password</h4>
                                                            </label>
                                                            <input type="password" class="form-control" name="password"
                                                                id="password" placeholder="password"
                                                                title="enter your password.">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-xs-6">
                                                            <label for="password2">
                                                                <h4>Verify</h4>
                                                            </label>
                                                            <input type="password" class="form-control" name="password2"
                                                                id="password2" placeholder="verify password"
                                                                title="enter your password2.">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-xs-12">
                                                            <br>
                                                            <button class="btn btn-lg btn-primary" type="submit"><i
                                                                    class="glyphicon glyphicon-ok-sign"></i>
                                                                Save</button>
                                                            <button class="btn btn-lg" type="reset"><i
                                                                    class="glyphicon glyphicon-repeat"></i>
                                                                Reset</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                                <!--/col-12-->
                            </div>
                            <!--/row-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->

        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy;Brandon Palumbo, Patrick Asciola 2019</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/scripts/klorofil-common.js"></script>
</body>

</html>